<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <a href=<%= htmlWebpackPlugin.files.publicPath %>></a>
    <script>
        const basePath = document.querySelector('a').href;
        const path = window.location.pathname.split('/');
        const filteredPath = path[path.length - 1];
        window.history.pushState({ redirectTo: filteredPath }, '', basePath);
    </script>
</body>

</html>